.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-prod{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.card-child{
  flex-basis: 33.33%;
  padding: 2rem;
}

.bg-box{
  height: 300px;
  margin-bottom: 8px;
}

.nane-style{
  background-color: rgb(228, 228, 228);
  padding: 6px;
  border-radius: 6px;
}

.add-to-cart-btn{
  width: 100%;
  margin: 6px;
  border-radius: 6px;
  padding: 6px;
  outline: none;
  border: none;
  background-color: rgb(255, 196, 3);
}

.load-more-btn{
  padding: 10px;
  background-color: white ;
  border: 1px solid rgb(207, 206, 206);
}